DJANGO_SETTINGS_MODULE=settings.local

DB_USER=rozprava
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=rozprava

POSTGRES_USER=rozprava
POSTGRES_PASSWORD=
POSTGRES_DB=rozprava

SENTRY_URL=https://a0fa2c4d506345b09205d75dc0e220e0@o647115.ingest.sentry.io/5759559
AWS_STORAGE_PERMITTED=False